body {
    font-family: 'Arial', sans-serif;
    background-color: #E0F2F1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px; /* Adjust based on your preference */
}

#pond {
    width: 100%;
    max-width: 600px;
    height: 300px;
    background-color: #0ABAB5; /* Consider using a pond background image */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

@keyframes swimRight {
    from { left: -100px; }
    to { left: calc(100% - 100px); }
}

@keyframes swimLeft {
    from { left: calc(100% - 110px); }
    to { left: -100px; }
}

#duck {
    width: 100px;
    position: absolute;
    bottom: 10px;
    animation: swimRight 5s linear infinite alternate;
    cursor: pointer;
}

#duck.flipped {
    transform: scaleX(-1); /* Flip the duck to face left */
}

.birthday-announcement {
    text-align: center;
    margin-bottom: 20px; /* Adjust space between the announcement and the title */
    font-size: 30px; /* Adjust the font size as needed */
    color: #0ABAB5; /* Color to match your theme, adjust as needed */
    font-weight: bold;
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    border: 2px solid #070707; /* Adjust color to ensure visibility */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: scale(0);
    animation: ripple 2s infinite;
    pointer-events: none;
}

.quack-text {
    color: #FFFFFF; /* Adjust text color for visibility */
    font-weight: bold;
    text-shadow: 0 0 8px #000000; /* Shadow for better visibility */
    pointer-events: none; /* Ensure clicks pass through the text */
}

